.textanimate {
    /* text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
    font-weight: 900; */
    background: linear-gradient(
      45deg,
      #66b2b2,
      #008080,
      #006666,
      #330099,
      #6f00fe
      /* #004c4c */
    );
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 20s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }