  .word {
    margin: 0;
    grid-area: 1 / 1 / -1 / -1;
    animation: fadeInOut 9s infinite both;
  }
  
  .word:nth-child(2) {
    animation-delay: -6s;
  }
  
  .word:nth-child(3) {
    animation-delay: -3s;
  }
  
  @keyframes fadeInOut {
    0%, 23.33%, 100% {
      opacity: 1;
      transform: translateY(0);
    }
    33.33% {
      opacity: 0;
      transform: translateY(-100%);
    }
    90% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
/* 
  #skill {
    background-image: repeating-radial-gradient(#000 2px, #f9f9f9 5px, #f9f9f9 100px);
  } */